@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    text-decoration: none;
}

html {
    font-size: 11px;
}

table {
    font-size: 1rem;
    page-break-inside: avoid;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

hr {    
    border-style: solid;
    border-bottom: 0;
    color: #666;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background-color: #bdc7c7;
}

h1 {
    color: #95a5a6;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    color: #95a5a6;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

h3 {
    color: #95a5a6;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

h4 {
    color: #95a5a6;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style-type: square;
}

li {
    margin-bottom: 4px;
}

li:last-of-type {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    max-height: 610px;
    margin: auto;
    display: block;
    align-self: center;
    /*page-break-inside: avoid;*/
}

.title-header, .title-frontpage{
    white-space: nowrap;    
    color: #95a5a6;
    font-family: 'Roboto Mono', monospace;
    text-align:right;
}


.title-frontpage {
    font-size: 1.75rem;    
}

.title-header {    
    font-size: 1.5rem;
    padding-top:50px;
}

.subtitle {
    text-align:right;
    margin-top: -12px;
    margin-bottom: 20px;
}

.logo-frontpage svg {    
    height: 1.7rem;
    position: absolute;
    top: 60px;
    left: -5px;
}


.logo-header svg {
    height: 1rem;
    position: absolute;
    top: 60px;
    left: -20px;
}

.footer {
    font-size: 1rem;
    text-align: center;
}

.list-h2 {
    font-weight: bold;
    margin-bottom: 5px;
}

.list-h3 {
    padding-left: 20px;
    margin-bottom: 5px;
}

.list-h4 {
    padding-left: 40px;
    margin-bottom: 5px;
}

.list-h5 {
    padding-left: 60px;
    margin-bottom: 5px;
}

.list-h6 {
    padding-left: 80px;
    margin-bottom: 5px;
}

.img-description {
    font-size: 8px;
    font-style: italic;
    text-align: center;
}

.page-number {
    float: right;
}

.page-number::after {
    clear: both;
}

#features, #description, #target-areas {
    color: black;
    font-size: 14;
    font-weight: bold;
}

#target-areas {
    clear: both;
    margin-top: 15px;
}

#target-areas + p {
    border-bottom: 1px solid #95a5a6;
    padding-bottom: 20px;
}

#features {
    margin-top: 15px;
}

#description, #description + p {
    width: 49%;
}

#contents {
    page-break-before:always;
}

#content-list {
    page-break-after:always;
}

#featured-picture {
    width: 50%;
    display: block;
    float: right;
    margin-top: 15px;
}

#outer-list * {
    font-size: 9px;
    page-break-inside: avoid;
}

